// *****************************************************************************
// * Standard breakpoints
// *****************************************************************************

$tiny:   32em;
$small:  48em;
$medium: 64em;
$large:  80em;

@mixin tiny() {
  @media (min-width: $tiny)  { @content ; }
}

@mixin small() {
  @media (min-width: $small)  { @content ; }
}

@mixin medium() {
  @media (min-width: $medium)  { @content ; }
}

@mixin large() {
  @media (min-width: $large)  { @content ; }
}

// *****************************************************************************
// * Arbitrary breakpoints for those edge cases
// *****************************************************************************

@mixin breakpoint($point) {
  @media (min-width: $point) { @content ; }
}

@mixin breakpoint-max($point) {
  @media (max-width: $point)  { @content ; }
}
