// Shell Bryson Raw Site
$color-fade: rgba(0,0,0, 0.4);
$color-body: rgba(0,0,0, 0.9);

.header {
  font-family: 'Dosis', sans-serif;
}

.links {

  &__link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding-right: 20px;

    &:hover {
      .links__description {
        color: $color-body;
      }
    }

    &:visited, &:active {
      color: $color-body;
    }

    i {
      padding-right: 4px;
    }
  }

  &__description {
    color: $color-fade;
    transition: 0.3s;

    &:before {
      display: inline-block;
      content: ">";
      padding-right: 10px;
    }
  }
}

.footer {
  margin-top: 50px;
  font-family: 'Dosis', sans-serif;
}