.sb-header {
  background-color: rgba(51, 51, 51, 0.9); }
  .sb-header__title {
    font-family: 'Dosis', sans-serif; }
  .sb-header__subtitle {
    font-family: 'Dosis', sans-serif; }

@media (min-width: 48em) {
  .sb-main {
    display: table; } }

@media (min-width: 48em) {
  .sb-persona {
    display: table-cell;
    width: 50%; } }

.sb-persona--developer {
  background-color: rgba(77, 76, 76, 0.9); }

.sb-persona--writer {
  background-color: rgba(128, 127, 127, 0.9); }

.header {
  font-family: 'Dosis', sans-serif; }

.links__link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  padding-right: 20px; }
  .links__link:hover .links__description {
    color: rgba(0, 0, 0, 0.9); }
  .links__link:visited, .links__link:active {
    color: rgba(0, 0, 0, 0.9); }
  .links__link i {
    padding-right: 4px; }

.links__description {
  color: rgba(0, 0, 0, 0.4);
  transition: 0.3s; }
  .links__description:before {
    display: inline-block;
    content: ">";
    padding-right: 10px; }

.footer {
  margin-top: 50px;
  font-family: 'Dosis', sans-serif; }
