// *****************************************************************************
// * Main CSS
// *****************************************************************************

@import "mixins/breakpoints";
@import "mixins/visuallyhidden";
@import "vendor/vendor";

// *****************************************************************************
// * Vars
// *****************************************************************************

$color-fade: rgba(0,0,0, 0.4);
$color-body: rgba(0,0,0, 0.9);
$color-text: rgba(255,255,255, 0.6);

$font: 'Dosis', sans-serif;
$animation-speed: 300ms;

// *****************************************************************************
// * Global
// *****************************************************************************

body {
  font-size: 16px;
  font-family: $font;
  line-height: 1.2;
  color: $color-text;
  background-color: lighten($color-body, 40%);
}

p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

// *****************************************************************************
// * Components
// *****************************************************************************

.sb-header {
  padding: 1rem 1rem 2rem 1rem;
  color: $color-text;
  background: lighten($color-body, 10%) url('/images/brand.svg');
  background-position: right 1rem top 0;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  transition: $animation-speed;

  @include tiny {
    background-size: 100px 100px;
    background-position: right 2rem top 0;
    padding: 2rem 2rem 4rem 2rem;
  }

  @include small {
    background-size: 250px 250px;
    background-position: right 2rem top 0;
  }

  @include large {
    background-size: 350px 350px;
  }

  &__title {
    font-size: 3rem;
    line-height: 1.5;
    max-width: 400px;
    transition: $animation-speed;

    @include small {
      font-size: 4rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    line-height: 2;
    max-width: 400px;
    transition: $animation-speed;

    @include small {
      font-size: 2rem;
    }
  }

  &__copy {
    max-width: 400px;
  }
}

.sb-main {

  @include small {
    display: table;
    width: 100%;
  }
}

.sb-persona {
  padding: 1rem 1rem 2rem 1rem;

  @include tiny {
    padding: 2rem 2rem 4rem 2rem;
  }

  @include small {
    display: table-cell;
    width: 50%;
  }

  &__title {
    font-family: $font;
    font-size: 1.5rem;
    line-height: 2;
  }

  &--developer {
    background-color: lighten($color-body, 20%);
  }

  &--writer {
    background-color: lighten($color-body, 30%);
  }
}

.sb-links {
  margin-top: 2rem;

  &__entry {
    display: inline-block;
  }
}

.sb-link {

  display: inline-block;
  margin-right: 4px;
  margin-bottom: 6px;
  background: $color-text;
  color: $color-body;
  padding: 0.5rem;
  text-decoration: none;

  &__description {
    padding-left: 4px;
  }

  &__sr {
    @include sr-only;
  }
}

.sb-footer {
  margin: 1rem;
  font-size: 0.8rem;
  color: darken($color-text, 10%);

  @include small {
    margin: 2rem;
  }

  &__link {
    text-decoration: none;
    color: darken($color-text, 5%);
  }

  &__crafted {
    color: darken($color-text, 10%);
    .fa {
      padding-right: 4px;
      padding-left: 4px;
    }
  }
}
